$title: rgb(0, 0, 0);
$color_activ: rgba(185, 12, 12, 0.80);
$color_hover: rgba(255, 67, 67, 0.80);
$color_logo: rgb(101, 105, 128);
$color_mask:rgb(37, 43, 73,0.8);

$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;