@import '../scss/variables';
@import '../scss/mixins';
.contacts {
    padding: 71px 0 67px;
    background-color: #353C65;;
}
.contacts-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px;
}
.contacts-card {
    max-width: 370px;
    margin: 0 15px;
    h5 {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: $_18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 29px;
        text-align: center;
    }
    .contacts-card-title_social {
        margin-bottom: 49px;
    }
}
.contacts-card-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: $_18px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}
.social-icons {
    ul {
        display: flex;
        flex-direction: row;
        li {
            margin: auto;
            width: 39px;
            height: 39px;
            border: 1px solid rgb(198, 203, 205);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            a{
                color: rgb(198, 203, 205);
            }
        }
    }
   
}
