@import '../scss/variables';
@import '../scss/mixins';
.features {
    padding: 116px 0 133px;
}
.grid {
    margin: 0 -15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 88px;
    grid-column-gap: 30px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
        .features-img {
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto 58px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
.title-features {
    color: $title;
    font-family: Raleway;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
            margin-bottom: 50px;
            text-transform: uppercase
}
.description-features {
        p{
            color: $title;
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: normal;
        }
}
@media (max-width: 1024px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 984px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 315px);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 50px;
        grid-column-gap: 20px;
    }
    .grid-item .features-img {
        margin: 0 auto 40px;
    }
    .grid-item .features-img img {
        width: 85%;
        height: 85%;
    }
    .title-features {
        font-size: 1.125rem;
        margin-bottom: 20px;
    }
    .description-features {
        p{
    font-size: 0.875rem;
        }
}
  }
  @media (max-width: 320px) {
    html {
      font-size: 10px;
    }
    .container {
      width: 280px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 42px;
    }
    .grid-item .features-img {
        margin: 0 auto 30px;
    }
    .title-features {
        font-size: 1.125rem;
        margin-bottom: 15px;
    }
    .description-features {
        p{
    font-size: 0.875rem;
        }
    }
  }