@import '../scss/variables';
@import '../scss/mixins';
.features {
    padding: 116px 0 133px;
    margin: 0 -15px;
}
.grid {
    padding: 0 -15px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 87px 30px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
        .features-img {
            width: 100px;
            height: 100px;
            margin: 0 auto 58px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        h4 {
            @include h4;
            margin-bottom: 50px;
            text-transform: uppercase
        }
        .description-features__1 {
        p{
            @include h5;
        }
        }
}
