@import '../scss/variables';
@import '../scss/mixins';
.features {
    padding: 116px 0 133px;
}
.grid {
    margin: 0 -15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 88px;
    grid-column-gap: 30px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
        .features-img {
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto 58px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
.title-features {
    color: $title;
    font-family: Raleway;
    font-size: $_24px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
            margin-bottom: 50px;
            text-transform: uppercase
}
.description-features {
        p{
            color: $title;
    font-family: Raleway;
    font-size: $_18px;
    font-weight: 400;
    line-height: normal;
        }
}
