@import '../scss/variables';
@import '../scss/mixins';
.footer-copyright {
    background-color: rgb(44, 49, 84);
    padding: 24px 0;
    display: flex;
    justify-content: center;
    h5 {
        width: 370px;
        color: rgb(128, 128, 128);
        text-align: center;
        font-family: Raleway;
        font-size: $_18px;
        font-weight: 400;
        text-transform: capitalize;
        span {
            color: #FFF;
        }
    }

}