@import '../scss/variables';

.header {
    padding-bottom: 120px;
    background-image: url("../img/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.header:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	  height: 100%;
    background: $color_mask;
    z-index: -1;
}
.header-wrap {
    height: 100px;
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
}
.header-title:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #BABBC5;
    margin: 0 0 130px;
    display: block;
}
.logo {
    color: #FFF;
    font-size: $_30px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    span {
        color: $color_logo;
        font-size: $_30px;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        z-index: 1;
    }
}
.navigation-menu {
  height: 60px;
  display: flex;
  flex-direction: row;
}
.navigation-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    li { 
      height: 60px;
      padding: 0 35px;
      padding-top: 9px;
      border-bottom: 3px none rgb(186, 187, 197);
        a{
          display: block;
          width: 100%;
          height: 100%;
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: $_13px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        }
    }
  }
  .navigation-list_item:hover {
    border-bottom: 3px solid rgb(186, 187, 197);
    cursor: pointer;
  }
  .navigation-list_item:active {
    border-bottom: 3px solid rgb(231, 20, 20);
    cursor: pointer;
  }
  .navigation-list_item-link:active {
    color: rgb(231, 20, 20);

  }
.navigation-burger {
  max-width: 55px;
  max-height: 56px;
  display: none; 
  position: relative;
  z-index: 1;
}
.menu {
  font-size: $_30px;
  color: rgb(255, 255, 255);
}
.header-title {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: Raleway;
        font-size: $_64px;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
.header-description {
    text-align: center;
    p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: Raleway;
        font-size: $_24px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 80px;
    }
}
.button-wrap {
  width: 370px;
  height: 80px;
  margin: auto;
  text-align: center;
  display: flex;
  background: rgb(255, 67, 67);
}
.button-wrap:hover {
  background: rgb(231, 20, 20);
}
.button-wrap:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px 0px #FF4343;
}
.button_link {
        width: 370px;
        height: 80px;
        color: #FFF;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        padding: 28px 0 28px;
}
@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 100%;
  }
  .navigation-list li a {
    font-size: 0.75rem;
  }
  .header-title:before {
    margin: 0 0 158px; 
  }
  .header-title {
    font-size: 3rem;
    margin-bottom: 62px;
  }
  .header-description p {
    font-family: 1.125rem;
    margin-bottom: 89px;
  }
  .button-wrap {
    width: 315px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 280px;
    height: 578px;
  }
  .header {
    padding-bottom: 120px;
    background-image: url("../img/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.header:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
      height: 100%;
    background: $color_mask;
    z-index: -1;
}
  .header-wrap {
    padding-top: 15px;
    margin: 0 0 49px;
    height: 41px;
    
  }
  .logo {
    font-size: $_24px;
    span {
        font-size: $_24px;
    }
}
.header-title {
  display: none;
}
.header-description p {
  display: none;
}
.button-wrap {
  display: none;
}
.navigation-burger {
  max-width: 55px;
  max-height: 56px;
  position: fixed;
    top: 15px;
    left: 270px;
}
.menu {
  font-size: $_24px;
}
  .navigation-burger {
    display: block;
  }
  .navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .navigation-list { 
    flex-direction: column; 
    display: block;
    position: relative;
    z-index: 20;
    padding: 100px 0  170px;
}
.navigation-list_item { 
  padding: 20px 0;
  text-align: start;
  transition: 0.3s;
}
.navigation-list li a {
  display: flex;
}
.navigation:active {
  top: 0;
}
}