@import '../scss/variables';

.header {
    padding-bottom: 120px;
    background-image: url("../img/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    margin: 0 -15px;
}
.header:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	  height: 100%;
    background: $color_mask;
    z-index: -1;
}
.header-wrap {
    height: 100px;
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
}
.header-title:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #BABBC5;
    margin: 0 0 130px;
    display: block;
}
.logo {
    color: #FFF;
    font-size: $_30px;
    font-weight: 400;
    text-transform: uppercase;
    span {
        color: $color_logo;
        font-size: $_30px;
        text-transform: uppercase;
        font-weight: 900;
    }
}
.navigation-menu {
  height: 60px;
  display: flex;
  flex-direction: row;
}
.navigation-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    li { 
      height: 60px;
      padding: 0 35px;
      padding-top: 9px;
      border-bottom: 3px none rgb(186, 187, 197);
        a{
          display: block;
          width: 100%;
          height: 100%;
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: $_13px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        }
        }
    }
  .navigation-list_item:hover {
    border-bottom: 3px solid rgb(186, 187, 197);
    cursor: pointer;
  }
  .navigation-list_item:active {
    border-bottom: 3px solid rgb(231, 20, 20);
    cursor: pointer;
  }
  .navigation-list_item-link:active {
    color: rgb(231, 20, 20);

  }
.navigation-burger {
  width: 55px;
  height: 56px;
  display: none;
}
.menu {
  font-size: $_30px;
  color: rgb(255, 255, 255);
}
.header-title {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: $_64px;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
.header-description {
    text-align: center;
    p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: Raleway;
        font-size: $_24px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 80px;
    }
}
.button-wrap {
  width: 370px;
  height: 80px;
  margin: auto;
  text-align: center;
  display: flex;
  background: rgb(255, 67, 67);
}
.button-wrap:hover {
  background: rgb(231, 20, 20);
}
.button-wrap:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px 0px #FF4343;
}
.button_link {
        width: 370px;
        height: 80px;
        color: #FFF;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        padding: 28px 0 28px;
}
